<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>插件测试页面</title>
    <script type="text/javascript" src="../../jquery-1.10.2.js"></script>
    <script type="text/javascript" src="../js/ydialog.js"></script>
    <script type="text/javascript" src="../js/yTablePanel.js"></script>
    <script type="text/javascript" src="../js/index.js"></script>
    <link type='text/css' rel='stylesheet' href='../../common/bootstrapNew/css/bootstrap.min.css'>
    <link type='text/css' rel='stylesheet' href='../../common/bootstrapNew/css/bootstrap-responsive.min.css'>
</head>
<body>
<button class="btn btn-primary" id="test">点击</button>
<div id="yd">

    <div style="margin-left: auto;margin-right: auto;margin-top: 200px;border: 1px solid black;width: 700px">
        必需的 speed 参数规定效果的时长。它可以取以下值："slow"、"fast" 或毫秒。
        fadeTo() 方法中必需的 opacity 参数将淡入淡出效果设置为给定的不透明度（值介于 0 与 1 之间）。
        可选的 callback 参数是该函数完成后所执行的函数名称。
        下面的例子演示了带有不同参数的 fadeTo() 方法：
    </div>

</div>
<div id="yt">

</div>
</body>
</html>